{{#link-to 'home' tagName='div'}}<i class="glyphicon glyphicon-chevron-left"></i> Back{{/link-to}}
<dl class="dl-horizontal">
  <dt>name</dt><dd>{{model.name}}</dd>
  <dt>type</dt><dd>{{model.type}}</dd>
  <dt>volume</dt><dd>{{model.volume}}</dd>
  <dt>pg</dt><dd>{{model.pg}}</dd>
  <dt>vg</dt><dd>{{model.vg}}</dd>
  <dt>nicotine</dt><dd>{{model.nicotine}}</dd>
  <dt>brew</dt><dd>{{model.brew}}</dd>
  <dt>comment</dt><dd>{{model.comment}}</dd>
  <dt>aromas</dt>
  <dd>
    <ul>
      {{#each model.aromas as |aroma|}}
        <li>{{aroma.aroma.name}} ({{aroma.aroma.vendor}}) - {{aroma.volume}}</li>
      {{/each}}
    </ul>
  </dd>
</dl>